<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SwoopGeSuite">
    <listeners>
        <listener class-name="SwoopGeUsingAllure" />
    </listeners>
    <test name="SwoopGeTest">
        <classes>
            <class name="SwoopGeUsingAllure"/>
        </classes>
    </test>
</suite>
