<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SwoopGeSuite" parallel="methods" thread-count="8">
    <listeners>
        <listener class-name="SwoopGeTest"/>
    </listeners>
    <test name="test">
        <groups>
            <run>
                <include name="SwoopGeGroup"/>
            </run>
        </groups>
        <classes>
            <class name="SwoopGeTest"/>
        </classes>
    </test>
</suite>
